.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable{
     height: auto;
     max-height: 450px;
     overflow-x: hidden;
}
.profile{
    padding:2%;
   margin:auto;
  
  
    align-items: center;
}
.post{
    border-radius: 2%;
   
}
